@use './scss/variables' as *;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $primary;
    background-color: $backgroundColor;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.btn {
    color: grey;
    background-color: transparent;
    transition: border-color .4s;
    transition: border-color, border-radius, background-color .4s;


    &:active {
        border-color: transparent !important;
    }
}

//BOTTONI
//----------------------------------------------------------------------
._btn-outline-primary {
    border: 1px solid darken($primary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    color: darken($primary, 15%);
    background-color: transparent;

    &:hover {
        border: 1px solid $primary;
        padding: .3em .8em;
        color: white;
        background-color: $primary;
    }

    &:active {
        border: 1px solid lighten($primary, 15%);
        padding: .3em .8em;
        color: white;
        background-color: lighten($primary, 15%);
    }
}

._btn-primary {
    border: 1px solid darken($primary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    color: darken(white, 15%);
    background-color: darken($primary, 15%);

    &:hover {
        border: 1px solid $primary;
        color: white;
        background-color: $primary;
    }

    &:active {
        border: 1px solid darken($primary, 25%) !important;
        border-color: darken($primary, 25%) !important;
        color: rgb(236, 236, 236) !important;
        background-color: darken($primary, 25%) !important;
    }
}

._btn-outline-secondary {
    border: 1px solid darken($secondary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    color: darken($secondary, 15%);
    background-color: transparent;

    &:hover {
        border: 1px solid $secondary;
        color: white;
        background-color: $secondary;
    }

    &:active {
        border: 1px solid lighten($secondary, 15%);
        border-color: darken($secondary, 15%) !important;
        color: white;
        background-color: lighten($secondary, 15%);
    }
}

._btn-secondary {
    border: 1px solid darken($secondary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    color: darken(white, 15%);
    background-color: darken($secondary, 15%);

    &:hover {
        border: 1px solid $secondary;
        color: white;
        background-color: $secondary;
    }

    &:active {
        border: 1px solid darken($secondary, 25%) !important;
        border-color: darken($secondary, 25%) !important;
        color: rgb(236, 236, 236) !important;
        background-color: darken($secondary, 25%) !important;
    }
}

._btn-outline-thirdary {
    border: 1px solid darken($thirdary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    color: darken($thirdary, 15%);
    background-color: transparent;

    &:hover {
        border: 1px solid $thirdary;
        color: white;
        background-color: $thirdary;
    }

    &:active {
        border: 1px solid lighten($thirdary, 15%);
        border-color: darken($thirdary, 15%) !important;
        color: white;
        background-color: lighten($thirdary, 15%);
    }
}

._btn-thirdary {
    border: 1px solid darken($thirdary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    color: darken(white, 15%);
    background-color: darken($thirdary, 15%);

    &:hover {
        border: 1px solid $thirdary;
        color: white;
        background-color: $thirdary;
    }

    &:active {
        border: 1px solid darken($thirdary, 25%) !important;
        border-color: darken($thirdary, 25%) !important;
        color: rgb(236, 236, 236) !important;
        background-color: darken($thirdary, 25%) !important;
    }

}

._btn-outline-primary-darkness {
    border: 1px solid darken($primary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    border: 1px solid $primary;
    color: white;
    background-color: darken($primary, 35%);
    box-shadow: 0px 0px 8px lighten($primary, 10%);
    text-shadow: 0px 0px 8px white;
    transition: background-color, color, border .4s;

    &:hover {
        border: 1px solid $primary;
        color: white;
        background-color: darken($primary, 35%);
        box-shadow: 0px 0px 8px lighten($primary, 10%);
    }

    &:active {
        border: 1px solid lighten($primary, 15%);
        border-color: darken($primary, 15%) !important;
        color: white;
        background-color: lighten($primary, 15%);
    }
}

._btn-outline-primary-darkness-hover {
    border: 1px solid darken($primary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    border: 1px solid $primary;
    color: white;
    background-color: darken($primary, 35%);
    box-shadow: 0px 0px 8px lighten($primary, 10%);
    text-shadow: 0px 0px 8px white;
    transition: all 1s;

    &:hover {
        border: 1px solid $primary;
        color: white;
        background-color: darken($primary, 5%);
        box-shadow: 0px 0px 8px lighten($primary, 10%);
    }

    &:active {
        border: 1px solid lighten($primary, 15%);
        border-color: darken($primary, 15%) !important;
        color: white;
        background-color: lighten($primary, 15%);
    }
}

._btn-outline-secondary-darkness-hover {
    border: 1px solid darken($secondary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    border: 1px solid $secondary;
    color: white;
    background-color: darken($secondary, 25%);
    box-shadow: 0px 0px 8px lighten($secondary, 10%);
    text-shadow: 0px 0px 8px white;
    transition: all 1s;

    &:hover {
        border: 1px solid $secondary;
        color: white;
        background-color: darken($secondary, 5%);
        box-shadow: 0px 0px 8px lighten($secondary, 10%);
    }

    &:active {
        border: 1px solid lighten($secondary, 15%);
        border-color: darken($secondary, 15%) !important;
        color: white;
        background-color: lighten($secondary, 15%);
    }
}

._btn-outline-thirdary-darkness-hover {
    border: 1px solid darken($thirdary, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    border: 1px solid $thirdary;
    color: white;
    background-color: darken($thirdary, 25%);
    box-shadow: 0px 0px 8px lighten($thirdary, 10%);
    text-shadow: 0px 0px 8px white;
    transition: all 1s;

    &:hover {
        border: 1px solid $thirdary;
        color: white;
        background-color: darken($thirdary, 5%);
        box-shadow: 0px 0px 8px lighten($thirdary, 10%);
    }

    &:active {
        border: 1px solid lighten($thirdary, 15%);
        border-color: darken($thirdary, 15%) !important;
        color: white;
        background-color: lighten($thirdary, 15%);
    }
}

._btn-outline-success-darkness-hover {
    border: 1px solid darken($success, 15%);
    padding: .3em 1em !important;
    border-radius: 20px !important;
    border: 1px solid $success;
    color: white;
    background-color: darken($success, 25%);
    box-shadow: 0px 0px 8px lighten($success, 10%);
    text-shadow: 0px 0px 8px white;
    transition: all 1s;

    &:hover {
        border: 1px solid $success;
        color: white;
        background-color: darken($success, 5%);
        box-shadow: 0px 0px 8px lighten($success, 10%);
    }

    &:active {
        border: 1px solid lighten($success, 15%);
        border-color: darken($success, 15%) !important;
        color: white;
        background-color: lighten($success, 15%);
    }
}

._btn {
    padding: .3em 1em !important;
    transition: all 1s;
    border-radius: 20px !important;
    background-color: transparent;
    border-color: transparent;
    color: rgb(116, 116, 116);

    &:hover {
        background-color: rgb(31, 30, 30);
        color: rgb(203, 203, 203);
    }
}

//----------------------------------------------------------------------


//TESTO e BACKground
//----------------------------------------------------------------------
._text-primary {
    color: $primary !important;
}

._bg-primary {
    background: $primary !important;
}

._text-secondary {
    color: $secondary !important;
}

._bg-secondary {
    background: $secondary !important;
}

._text-thirdary {
    color: $thirdary !important;
}

._bg-thirdary {
    background: $thirdary !important;
}

._border-primary {
    border: 1px solid $primary !important;
}

._border-secondary {
    border: 1px solid $secondary !important;
}

._border-thirdary {
    border: 1px solid $thirdary !important;
}

._border-white {
    border: 1px solid $primary !important;
    box-shadow: 0px 0px 4px lighten($primary, 0%)
}

._light-primary {
    box-shadow: 0px 0px 8px lighten($primary, 20%)
}

//----------------------------------------------------------------------

//TABLE
//----------------------------------------------------------------------
._table {}

._table-light {
    background-color: $background;
    width: 90%;




    thead {
        background-color: lighten($background, 3%);

        tr {
            background-color: transparent;
            transition: all .3s;

            &:hover {
                background-color: lighten($background, 3%);
            }


            th {
                padding: .6em;
                vertical-align: top;
                font-size: .9em;
                text-align: center;
            }
        }
    }

    tbody {

        th {
            padding: .6em;
            vertical-align: top;
            font-size: .9em;
            text-align: start;
            background-color: lighten($background, 3%);
            color: darken(white, 30%);
            transition: all .3s;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: lighten($background, 10%);

            }
        }

        tr {
            background-color: transparent;
            transition: all .5s;

            &:hover {
                background-color: lighten($background, 3%);
            }

            td {
                padding: .6em;
                vertical-align: top;
                font-size: .9em;
                text-align: center;

                input {
                    background-color: transparent;
                    border: none;
                    font-size: 1em;
                }

                input[type=num] {
                    color: $primary;
                }

                i {}
            }
        }
    }
}


