$primary: rgb(33, 159, 223);
$secondary: rgb(15, 136, 163);
$thirdary: rgb(152, 34, 77);

$backgroundColor: rgb(11, 11, 11);

@mixin d-flex-col-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}